*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    background: #f7f7f7;
}
h1{
    text-align: center;
    margin-bottom: 10px;
}
#categoryName{
    text-align: center;
    margin-bottom: 30px;
    color: #666;
}
#productList{
     max-width: 1100px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
#productList div{
    background: white;
    padding: 15px;
    border-radius: 8px;
}
#productList img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 6px;
}
#productList h2{
    font-size: 18px;
    margin: 10px 0;
}
#productList p{
    margin-bottom: 8px;
}
#productList button{
    width:100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #ff3f9f;
    color: white;
}
@media (max-width: 768px) {

    #productList {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 450px) {

    #productList {
        grid-template-columns: 1fr 1fr;
    }

    #productList img {
        height: 180px;
    }

}